*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    height: 100px;
    background-color: white;
    padding: 0 50px;
    color: #2596be;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo1 {
    position: relative;
  }
  
  .logo1 .logo2 {
    position: absolute;  
    top: 0;  
    left: 0;
    opacity: 0;
    transition: .5s;
  }
  
  .logo1:hover .logo2 {
    opacity: 1;
  }

.menu a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #2596be;
}

#check{
    display: none;
}

#banner{
    padding: 0 50px;
    background-image: url(./img/casas/casa2.jpeg);
    height: calc(100vh - 100px);
    background-size: cover;
    background-position: center;
}

.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}
.contenido-banner h3 span{
    font-weight: 600;
}
.contenido-banner{
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#banner::before{
    content: '';
    background: rgba(77,77,92, 0.6);
    position: absolute;
    width: 100%;
    height: calc(100vh - 100px);
    left: 0;
}

#acerca{
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 100px);
}

#acerca img{
    border-radius: 100%;
}

#acerca div{
    padding: 30px 30px;
}

#acerca div h4{
    color:  black;
    font-size: 20px;
    margin: 15px 0px;
}

#acerca div p{
    color:  rgb(108, 108, 108);
    font-size: 18px;
}

.boton-saber-mas{
    display: inline-block;
    text-decoration: none;
    color:  black;
    padding: 10px 30px;
    border: 3px solid #2596be;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
}

.boton-saber-mas:hover{
    background: #2596be;
    color: white;
}

#galeria .col-lg-4 {
    padding: 20px;
}
#galeria img{
    width: 100%;
    height: 300px;
}

#galeria2 .col-lg-4 {
    padding: 20px;
}
#galeria2 img{
    width: 100%;
    height: 300px;
}

.contact_form p{
    justify-content: center;
}

#contacto{
    margin: 50px;
}
@media(max-width: 768px){
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a{
        display: block;
        padding: 20px;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu{
        right: 0;
    }

    #acerca{
        margin-top: 200px;
        margin-bottom: 200px;
        flex-direction: column;
    }

    .galeria{
        margin-top: 100px;
    }
}
